.div-vermelha {
	background-color: red;
	width: 700px;
	height: 400px;
	padding: 0;
	margin: 0 auto;
}

.div-verde {
	background-color: green;
	width: 700px;
	height: 400px;
	padding: 25px;
	margin: 0 auto;
}